.btnBurger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.btnBurger:focus {
  outline: none;
}

.line {
  width: 2rem;
  height: 0.25rem;
  background: var(--white);
  border-radius: 10px;
  transition: all 0.3s linear;
  transform-origin: 1px;
}

@media screen and (min-width : 768px){
 .btnBurger {
  display: none;
 }
 .line {
  display: none;
 }
}